<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		*{
			margin: 0px;
			padding: 0px;
		}
		#heading{
			
			height: 60px;
			width: all;
			
		}
		#body1{
			background-color: blue;
			height: 625px;
			width: all;
		}
		

	</style>
</head>
<body>
	<div id="heading">
		<div id="Nepal">
		
<input list="name" name="Nepal" id="Nepal" placeholder="Nepal" style="width: 100%;padding:10px;margin-right: 50px;outline: none; border: none;">
		<datalist id="name">
			<option>Nepal Trekking Package</option>
			<option>Nepal Tour Package</option>
			<option>Jungle Safari in Nepal</option>
		</datalist>
	</div>
		<img src="logo.png">
		<div id="body1">
		
	</div>
		
	</div>
	

</body>
</html>